# GNU compiler collection
brew "gcc"

{{- if (and (eq .context "personal") (has "gui" .features)) }}
{{- if eq .chezmoi.os "linux"}}
# Install Steam only when personal context via Flatpak for Linux
flatpak "com.valvesoftware.Steam"
{{- else }}
# Otherwise install Steam only when personal context via cask
cask "steam"
{{- end }}
{{- end }}
