{{- if (has .features "security") }}

{{- $item := index .secrets.aws .context -}}

[profile {{ .context }}]
    region = eu-west-1
    output = json
    credential_process = {{ .chezmoi.homeDir }}/.local/bin/aws-bw-helper {{ $item }}

{{- end }}